/* style="
 border:1px solid #f9f4f4;
 background-color: #f9f4f4;
 color: black;
 border-radius: 12px;
 height: 50px;"*/



/* unvisited link */
/*a:link {
    color: #ffffff;
}*/

/* visited link */
/*a:visited {
    color: #ffffff;
}

/* mouse over link */
/*a:hover {

   height: 50px;
   color: black;
   border:1px solid #f9f4f4;
   border-radius: 12px;
   background-color: #f9f4f4;
}*/

/* selected link */
/*a:active {

   height: 50px;
   color: black;
   border:1px solid #f9f4f4;
   border-radius: 12px;
   background-color: #f9f4f4;


}*/

  .affix {
      top: 100px;
      z-index: 9999 !important;
  }

.navbar-center
{
    width: 60%;
    margin:auto;
}

.logo:hover 
{
 
  /*width: 55px;*/
  transform: scale(1.05);
}

@font-face{

  font-family: "chef";
  src:url('../assets/LCR_LeChef.ttf');
}


.navbar-default .navbar-nav li a {
  color: #f9f4f4;
}

.navbar-nav>li>a.active {
   height: 50px;
   color: black;
   border:1px solid #f9f4f4;
   border-radius: 12px;
   background-color: #f9f4f4;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    height: 50px;
   color: black;
   border:1px solid #f9f4f4;
   border-radius: 12px;
   background-color: #f9f4f4;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    height: 50px;
   color: black;
   border:1px solid #f9f4f4;
   border-radius: 12px;
   background-color:#f9f4f4;
}
